.button
  border: none
  background: #ddd
  color: inherit
  cursor: pointer
  font-size: 1.4rem
  font-weight: 500
  outline: none
  line-height: 3.6rem
  padding: 0 2.2rem

  &.focus-visible
    outline: $focus-outline

  &.secondary
    background: none
    padding: 0 1.8rem

    &:active
      background: none

  &.link
    background: none
    color: $link-color
    font-size: unset
    font-weight: normal
    line-height: unset
    padding: 0

    &:hover
      text-decoration: underline

    &:active
      background: none

  +breakpoint(desktop)
    &:active
      background: #c6c6c6