.download-modal
  .filename-group
    display: flex
    flex-flow: row wrap

    .text-input, .button, select
      height: 3rem

    .text-input
      width: 20rem

    .button
      line-height: 3.2rem
      margin-left: auto

      +breakpointMax(380px)
        margin-top: 0.4rem
        width: 100%

  .file-options
    margin-top: 1.4rem

    .file-options-row
      display: flex
      flex-flow: row wrap
      align-items: center
      margin-bottom: 0.2rem

      +breakpointMax(380px)
        align-items: flex-start

      &.radio-group
        +breakpointMax(380px)
          display: flex
          flex-flow: column

    label
      display: inline-flex
      align-items: center
      cursor: pointer

    .text-input
      margin-left: 0.8rem

      +breakpointMax(380px)
        margin-top: 0.4rem
        margin-left: 0
        width: 100%

    input[type="radio"]
      margin-left: 1rem
      margin-right: 0.3rem

  .file-preview
    h3
      margin: 1.2rem 0 0.8rem

    pre
      font-family: $monospace
      line-height: 1.9rem
      margin: 0
      max-height: 13.1rem
      overflow: auto
      padding-bottom: 0.3rem