.download-modal
  overflow-x: hidden

  .filename-group
    display: flex
    height: 3rem

    .text-input
      height: 3rem

    .button
      line-height: 3.2rem
      margin-left: auto

  .file-preview pre
    overflow-x: scroll
    overflow-y: hidden