.icon-button
  background: none
  border: none
  cursor: pointer
  padding: 0
  overflow: hidden
  +square(2.4rem)

  &:focus
    outline: $focus-outline

  svg
    fill: $black
    +square(inherit)