// .main-password-container

.main-password-buttons
  display: flex
  flex-flow: column
  margin: 1rem 0

  +breakpoint(tablet)
    flex-flow: row

  +breakpoint(desktop)
    margin: 1.6rem 0
    justify-content: center

  button
    background: #ddd
    border: none
    color: inherit
    cursor: pointer
    font-size: 1.4rem
    font-weight: 500
    line-height: 3.6rem
    outline: none
    padding: 0 2.2rem
    width: 100%
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

    +breakpoint(tablet)
      margin: 0 1rem 0 0

      &:last-child
        margin: 0

    +breakpoint(desktop)
      width: unset
      transition: 50ms

      &:active
        background: #c6c6c6