.options-field
  line-height: 2.5rem
  display: flex
  flex-flow: row wrap
  align-items: center
  position: relative

  &:last-child
    margin-bottom: 0

  &.center
    justify-content: center

  label
    flex-grow: 0
    display: flex
    align-items: center

  .options-field-input,
  .options-field-settings,
  .options-field-select
    margin-left: auto
    position: relative
    width: 18rem

  .options-field-settings

    .options-field-settings-input
      display: inline-block
      position: relative
      margin: 0 0.1rem 0 0.4rem

      .text-input
        width: 4.2rem

  .options-field-select
    display: flex
    align-items: center

    .icon-button
      flex-shrink: 0
      margin-left: 0.1rem
      +square(2rem)

    .icon
      fill: #333

    select
      width: 100%

  .text-input
    width: 100%

  .options-field-help
    position: relative
    margin-left: .3rem

    .help-icon
      +square(1.8rem)
      display: flex
      justify-content: center
      align-items: center
      color: $md-grey-600

  .options-button-group
    margin-top: 1.6rem
    flex: 1
    display: flex
    flex-flow: column

    +breakpoint(tablet)
      flex-flow: row
      justify-content: center

    .button
      width: 100%
      margin-bottom: 1rem

      +breakpoint(tablet)
        margin-bottom: 0
        margin-right: 1rem
        width: unset

        &:last-child
          margin-right: 0

  +breakpointMax(380)
    .options-field-input
      width: 100%

      &.short
        width: 11rem

    .options-field-settings
      width: auto