.options-field
  $checkbox-color: $black

  line-height: 2.5rem
  display: flex
  flex-flow: row wrap
  align-items: center
  position: relative

  &:last-child
    margin-bottom: 0

  label
    flex-grow: 0
    display: flex
    align-items: center

  .options-field-input,
  .options-field-settings
    margin-left: auto
    position: relative
    width: 18rem

  .options-field-settings

    .options-field-settings-input
      display: inline-block
      position: relative
      margin: 0 0.1rem 0 0.4rem

      input
        width: 4.2rem

  input[type="text"],
  input[type="number"],
  input[type="tel"]
    background: white
    border: 0
    height: 2.3rem
    padding: 0 0.5rem
    outline: none
    width: 100%

    &:disabled
      background: darken(white,3%)
      color: lighten($black,40%)

    &:focus
      outline: $focus-outline

  input[type="checkbox"]
    position: absolute
    left: -9999px

    &:checked + .checkbox-wrapper .checkbox::before
      border-color: $checkbox-color

    &:focus + .checkbox-wrapper .checkbox
      outline: $focus-outline

  .checkbox-wrapper
    position: relative
    margin-right: 0.5rem
    cursor: pointer

    .checkbox
      position: relative
      +square(1.8rem)
      background: white

      &::before
        position: absolute
        transform: rotate(45deg)
        content: ''
        top: 0.2rem
        left: 0.6rem
        width: 0.6rem
        height: 1.2rem
        border: 0.2rem solid transparent
        border-top-width: 0
        border-left-width: 0

  .options-field-help
    position: relative
    margin-left: .3rem
    
    .help-icon
      +square(1.8rem)
      display: flex
      justify-content: center
      align-items: center
      color: $md-grey-600

  +breakpointMax(380)
    .options-field-input
      width: 100%

      &.short
        width: 11rem

    .options-field-settings
      width: auto