.password-output
  $bg: white
  position: relative

  .output-field
    background: $bg
    font-family: $monospace
    font-size: 2.3rem
    width: 100%
    border: none
    padding: 0 3rem 0 0.6rem // 2.4rem + 0.3rem*2
    min-height: 3rem
    line-height: 3rem
    overflow: hidden
    word-break: break-all
    text-align: left
    cursor: text

    &.focus-visible
      outline: $focus-outline

  .output-buttons
    position: absolute
    top: 0
    right: 0
    height: 3rem
    margin-right: 0.3rem
    display: flex
    align-items: center
    flex-flow: row-reverse

  .icon-button
    $size: 2.4rem
    $padding: 0.3rem

    padding: $padding
    transition: background 150ms ease-in-out
    +square($size)

    &:hover
      background: darken($bg, 6%)

    svg
      +square($size - ($padding * 2))

    svg.rotated
      transform: rotate(180deg)


  &.big
    width: 100%

    &:not(.js-expandable)
      .output-field
        height: 3.6rem

    .output-field
      font-size: 2.5rem
      padding: 0 6.6rem 0 0.7rem // 3rem*2 + 0.3rem*2
      min-height: 3.6rem
      line-height: 3.6rem

    .output-buttons
      height: 3.6rem

    .icon-button
      $size: 3rem
      $padding: 0.3rem

      padding: $padding
      +square($size)

      svg
        +square($size - ($padding * 2))

  &:not(.js-expandable)
    .output-field
      height: 3rem
      text-overflow: ellipsis
      white-space: nowrap