.password-output
  $bg: white
  position: relative

  .output-field
    background: $bg
    font-family: $monospace
    font-size: 2.5rem
    width: 100%
    border: none
    padding: 0 6.6rem 0 0.7rem
    line-height: 3.6rem
    overflow: hidden
    word-break: break-all
    text-align: left
    cursor: text

    &:focus
      outline: 0.2rem solid $green

  .output-buttons
    position: absolute
    top: 0
    right: 0
    height: 3.6rem
    padding: 0.3rem
    display: flex
    flex-flow: row-reverse

  button
    border-radius: 0.2rem
    border: none
    background: none
    cursor: pointer
    display: flex
    place-content: center
    padding: 0.3rem
    transition: 150ms ease-in-out

    &:hover
      background: darken($bg, 3%)

    &:focus
      // FIXME: weird '1px solid black' outline 
      // https://i.imgur.com/8tXt8K7.gifv
      outline: 0.2rem solid $active-color

    svg
      fill: $black

      &.rotated
        transform: rotate(180deg)