$field-width: 25rem

.password-list
  margin: 0 auto
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  justify-items: flex-start

  +breakpoint(tablet)
    max-width: 38rem

  +breakpoint(desktop)
    max-width: unset

    // only works in 3 column layout
    &::after
      content: ''
      flex-basis: $field-width

.password-list-field
  margin-bottom: 1rem
  width: 100%

  +breakpoint(desktop)
    width: $field-width

  .output-field
    background: rgba(white, 0.5) !important

  .header
    display: flex
    flex-flow: row nowrap
    margin: 0.2rem 0

    .name
      margin-right: auto