.presets-modal
  h4
    margin-top: 1.7rem

  .text-input
    margin-left: 0.6rem
    width: 18rem

    &::placeholder
      font-size: 1.55rem

    &.name
      margin-left: 0

    &.length
      width: 9rem

  .field-row
    display: inline-flex
    align-items: center

    .icon
      fill: $red

  .button-group
    display: flex
    justify-content: flex-end

    .button
      margin-left: 0.6rem