.presets-modal
  h4
    margin-top: 1.7rem

  .preset-name-group .text-input
    margin-left: 0.6rem

  .button-group
    display: flex
    justify-content: flex-end
    margin-top: 1.8rem

    .button
      margin-left: 0.6rem

    .delete-button
      background: none
      color: $red
      margin-left: 0
      margin-right: auto
      padding: 0

  .add-field-button
    font-size: 1.6rem
    background: $background-color
    color: $md-grey-800
    font-size: 1.4rem
    height: 2.9rem
    line-height: unset
    width: 100%

.presets-list
  max-height: 16.5rem
  overflow-y: auto

.presets-field
  display: flex
  align-items: center
  background: $background-color
  border-radius: 0.2rem
  font-size: 1.55rem
  height: 2.9rem
  margin-bottom: 0.4rem
  padding: 0.3rem
  width: 100%
  z-index: 20

  .text-input-group
    color: $md-grey-800
    display: flex
    align-items: center
    margin-right: 1rem

    &:last-of-type
      margin-right: 0

    &.name
      flex-grow: 1

    &.length .text-input
      margin-right: -1
      flex: 0
      width: 5.4rem

  .text-input
    margin-left: 0.6rem
    flex: 1

  .remove-button
    margin-left: 0.2rem

    .icon
      fill: $red

.sortable-handler
  margin-left: 0.2rem
  margin-right: 0.5rem
  cursor: grab
  +square(1.8rem)

  .icon
    fill: $black

.dragging
  box-shadow: $box-shadow-popup

.js-is-dragging
  cursor: grabbing !important

  a, button, input, label, textarea
    cursor: inherit
    pointer-events: none !important
