.settings-modal
  label
    display: inline-flex
    align-items: center
    cursor: pointer

  .settings-button-group
    display: flex
    flex-flow: column

    +breakpoint(tablet)
      flex-flow: row
      align-items: flex-start

  .details
    margin-top: 0.6rem
    display: flex
    align-items: center
    font-size: 1.48rem
    color: $md-grey-700

    .icon
      fill: $md-grey-700
      margin-right: 0.4rem
      +square(1.8rem)

  .settings-button
    flex-shrink: 0
    margin-bottom: 1.2rem

    +breakpoint(tablet)
      margin-right: 2rem
      margin-bottom: 0
