.tooltip
  $arrow-size: 0.4rem
  $bg: $black

  position: absolute
  background: $bg
  color: white
  padding: 0.3rem .7rem 0.4rem
  font-size: 0.87em
  border-radius: 0.2rem
  white-space: pre
  line-height: 1.3
  z-index: 10
  display: none

  .arrow
    position: absolute
    content: ''
    display: none
    width: 0
    height: 0
    border-style: solid

  &.active
    display: block
    
    .arrow
      display: block

  &.bottom
    margin-top: $arrow-size + 0.1rem
    +center-x

    .arrow
      border-width: 0 $arrow-size $arrow-size $arrow-size
      border-color: transparent transparent $bg transparent
      top: -$arrow-size
      +center-x

  &.top
    margin-bottom: $arrow-size + 0.1rem
    bottom: 100%
    +center-x

    .arrow
      border-width: $arrow-size $arrow-size 0 $arrow-size
      border-color: $bg transparent transparent transparent
      bottom: -$arrow-size
      +center-x
  
  &.right
    margin-left: $arrow-size + 0.2rem
    left: 100%
    +center-y

    .arrow
      border-width: $arrow-size $arrow-size $arrow-size 0
      border-color: transparent $bg transparent transparent
      left: -$arrow-size
      +center-y

  &.left
    margin-right: $arrow-size + 0.2rem
    right: 100%
    +center-y

    .arrow
      border-width: $arrow-size 0 $arrow-size $arrow-size
      border-color: transparent transparent transparent $bg
      right: -$arrow-size
      +center-y