.main-password-container
  text-align: center

.reset-button
  background: #ddd
  border: none
  color: inherit
  cursor: pointer
  font-size: 1.4rem
  font-weight: 500
  line-height: 3.6rem
  margin: 1rem 0
  outline: none
  padding: 0 2.2rem
  width: 100%

  +breakpoint(800px)
    margin: 1.6rem 0
    width: unset
    transition: 50ms

    &:active
      background: #c6c6c6