@import '../components/OptionsField'

.options-container
  +breakpoint(800px)
    width: 50%

.options-title
  margin: 0.25em 0 0.5em
  font-weight: 500

.error-field
  color: $md-red
  margin: 1.2rem 0