html
  font-size: 62.5%

body
  font-size: $m-size
  font-family: $sans-serif
  background: $white
  color: $black

a
  text-decoration: none
  color: $link-color

  &:hover
    text-decoration: underline

h1, h2, h3, h4, h5, h6
  font-weight: 500

::selection
  background: $selection-bg

.monospace
  font-family: $monospace

.hidden
  display: none

.js-focus-visible :focus:not(.focus-visible)
  outline: none