=r
  background: rgba(#ff6961,0.5)
=g
  background: rgba(#77dd77,0.7)
=b
  background: rgba(#b4ddec,0.8)

=square($size)
  height: $size
  width: $size

=center-x
  left: 50%
  transform: translateX(-50%)

=center-y
  top: 50%
  transform: translateY(-50%)

=focus-box-shadow
  box-shadow: $focus-box-shadow
  outline: none

@function strip-unit($number)
  @if type-of($number) == 'number'
    @return $number / ($number * 0 + 1)

@function em($px, $divider: 16)
  @return #{strip-unit($px) / $divider}em

@function rem($px, $divider: 16)
  @return #{strip-unit($px) / $divider}rem