// sizes
$s-size: 1.2rem
$m-size: 1.6rem
$l-size: 3.2rem
$xl-size: 4.8rem

$desktop-breakpoint: 800px
$desktop-rem: 80rem
$tablet-breakpoint: 480px
$tablet-rem: 48rem
$mobile-breakpoint: 320px
$mobile-rem: 32rem
$content-padding: 1rem

// colors
$white: $md-grey-200
$black: $md-grey-900

$blue: $md-blue
$green: $md-green
$red: $md-red

$active-color: $blue
$link-color: $md-blue-700

$focus-outline: 0.2rem solid $active-color
$selection-bg: rgba($md-blue-300,0.28)

$box-shadow-popup: 0 0.2rem 0.6rem rgba(black, 0.1)
$box-shadow-modal: 0 0.4rem 1rem rgba(black, 0.22)

// fonts
$sans-serif: Roboto, Helvetica, Arial, sans-serif
$monospace: Inconsolata, Consolas, monospace