// sizes
$s-size: 1.2rem
$m-size: 1.6rem
$l-size: 3.2rem
$xl-size: 4.8rem

$desktop-breakpoint: 800px
$desktop-rem: 80rem
$content-padding: 1rem

// colors
$white: $md-grey-200
$black: $md-grey-900

$green: $md-green
$red: $md-red

$active-color: $green
$link-color: $md-blue-700

$focus-outline: 0.2rem solid $active-color

// fonts
$sans-serif: Roboto, Helvetica, Arial, sans-serif
$monospace: Inconsolata, Consolas, monospace